* {
	font-family: Georgia;
	size: 20px;
	color: rgba(45, 45, 45, 0.8);
	background: rgba(13, 241, 10, 0.2);
}

h1 {
	font-family: Comic;
	size: 40px;
	background: rgba(1, 1, 1, 0.1); 
}
h2 {
	font-family: Comic;
	size: 30px;
	color: rgba(45, 45, 45, 0.6) ;
	background: rgba(1, 1, 1, 0.2);
}

p {
	color: black;
	background: rgba(1, 1, 1, 0.3);
}
